.footer {
    background-color: #272727;
    padding: 20px 0;
    color: #FFF;
}

.social_list {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
}

.social_list li {
    margin: 0 5px;
}

.social_list li:hover {
   transform: scale(1.1);
}

.social_list svg {
    font-size: 30px;
    cursor: pointer;
}