.header {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #272727;
    padding: 20px 0;
}

.header h1 {
    color: #FFF;
    font-family: "Opens sans", sans-serif;
}